body{
    background-color: blanchedalmond;
    margin: 0;
    padding: 0;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    box-sizing: border-box;
    color-scheme: dark;
    background-color:black;
    color:azure;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px ;
}

h1 i{
    color: yellow;
    font-size: 34px;
    font-weight: 700;
}

.projects{
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    gap: 20px;
    margin-top: 20px;


}



hr{
    color: aliceblue;
    width: 100%;
    height: 1px;
}

a{
    text-decoration: none;
}

.project{
    padding: 15px;
    border: white solid 2px  ;
    border-radius: 2.5mm;
    color:azure;
    font-size: 28px;
    transition: background-color 1s ease-out;
}

.project:hover{
   background-color: beige;
   color: black;
}

.week2{
    width: 60%;
    margin: 20px 0;
}

@media (max-width: 600px) {
    .projects{
        display: grid;
        grid-template-columns: 2fr 2fr;
        gap: 10px;
        margin-top: 10px;
    }

   

    main{
        padding: 10px;
    }
}