*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}

.home button {
	padding: 10px 20px;
	font-size: 24px;
	margin: 20px 40px;
	cursor: pointer;
	border-radius: 2.5mm;
	border: solid;
}

.container{
    width: 100%;
    height: 100vh;
    background: #333;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input-box{
    max-width: 400px;
    padding: 10px;
    display: flex;
    
}

.input-box input{
    width: 100%;
    height: 60px;
    padding: 0 20px;
    border: solid rgb(163, 153, 153) ;
    outline: 0;
    }

 .input-box button{
    padding: 0 20px;
    cursor: pointer;
}

::placeholder{
    font-size: 16px;
}

#msg{

color: beige;
 display: none;
}